<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" /> 
	<title></title>
	<style>
		body {
			display: inline-block;
			margin: 0px auto;
			width: 90%;
			text-align: left;
		}

		html {
			width: 100%;
			text-align: center;
		}

		.a4_page{
			height: 300mm;
		}

		h3 {
			text-align: center;
			background-color: #bdbec2;
			color: #fbf9fa;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.label {
			font-weight: bold;
			display: inline-block;
			width: 200px;
		}

		.value {
			margin-left: 30px;
			display: inline-block;
			color: #747275;
		}

		.field {
			margin-left: 20px;
			margin-top: 10px;
		}

		.value.map {
			display: block;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.value.images {
			display: block;
		}

	</style>
</head>
<body>
	<div class="a4_page">
		<div>
			<img src="http://www.bolsadesantiago.com/Imaganes%20Empresa/ANDINA.PNG" width="40%" />
		</div>
		<h3>INFORMACIÓN DEL REPORTE</h3>
		<div class="field">
			<div class="label">MOTIVO:</div> 
			<div class="value"><%= @report.reason.name if @report.reason %></div> 
		</div>
		<div class="field">
			<div class="label">TÍTULO:</div> 
			<div class="value"><%= @report.title %></div>
		</div>
		<div class="field">
			<div class="label">COMENTARIO:</div> 
			<div class="value"><%= @report.comment %></div> 
		</div>
		<div class="field">
			<div class="label">CANAL:</div> 
			<div class="value"><%= @report.channel.name if @report.channel %></div> 
		</div>
		<div class="field">
			<div class="label">SUB CANAL:</div> 
			<div class="value"><%= @report.subchannel.name if @report.subchannel %></div> 
		</div>
		<div class="field">
			<div class="label">REGIÓN:</div> 
			<div class="value"><%= @report.region %></div> 
		</div>
		<div class="field">
			<div class="label">COMUNA:</div> 
			<div class="value"><%= @report.commune %></div> 
		</div>
		<div class="field">
			<div class="label">CALLE:</div> 
			<div class="value"><%= @report.address %></div> 
		</div>
		<div class="field">
			<div class="label">REFERENCIA:</div> 
			<div class="value"><%= @report.reference %></div> 
		</div>
		<div class="field">
			<div class="label">CREADO POR:</div>
			<div class="value"><%= @report.creator_name %></div> 
		</div>
		<div class="field">
			<div class="label">FECHA DE CREACIÓN:</div>
			<div class="value"><%= @report.created_at.in_time_zone("Santiago").strftime("%d/%m/%Y %I:%M %p").to_s %></div> 
		</div>
		<div class="field">
			<div class="label">ASIGNADO A:</div>
			<div class="value"><%= @report.assigned_user_name %></div> 
		</div>
		<div class="field">
			<div class="label">MAPA UBICACIÓN</div> 
			<div class="value map">
				<img src="https://maps.googleapis.com/maps/api/staticmap?size=512x250&maptype=roadmap&size=500x250&markers=size:mid%7Ccolor:red%7C<%= @report.latitude.to_s + ', ' + @report.longitude.to_s %>" />
			</div> 
		</div>
	</div>
	<% if @report.pictures.count > 0 %>
	<div class="field">
		<div class="label">FOTOS:</div> 
		<div class="value images">
			<% @report.pictures.each do |picture| %>
				<div style="display: inline-block; margin-top: 10px; margin-left: 10px;" >
					<img src="<%= picture.url %>" width="220px" />
				</div> 
			<% end %>
		</div>
	</div>
	<% end %>
	<h3>ACTIVIDAD DEL REPORTE:</h3>
	<% @report.report_actions.order("created_at DESC").each_with_index do |action, idx| %>
		<% if idx > 0 %>
			<hr/>
		<% end %>
		<div class="field">
			<div class="label">Tipo de actividad:</div> 
			<div class="value"><%= action.report_action_type.formatted_name %></div> 
		</div>
		<div class="field">
			<div class="label">Estado:</div> 
			<div class="value"><%= action.report_state.name %></div> 
		</div>
		<div class="field">
			<div class="label">Comentario:</div> 
			<div class="value"><%= action.data["comment"] if action.data and action.data["comment"] %></div> 
		</div>
		<div class="field">
			<div class="label">Asignado a:</div> 
			<div class="value"><%= action.data["assigned_user_name"] if action.data and action.data["assigned_user_name"] %></div> 
		</div>
	<% end %>
	
</body>
</html>
