<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" /> 
	<title></title>
	<style>
		body {
			display: inline-block;
			margin: 0px auto;
			width: 90%;
			text-align: left;
		}

		html {
			width: 100%;
			text-align: center;
		}

		h3 {
			text-align: center;
			background-color: #bdbec2;
			color: #fbf9fa;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.label {
			font-weight: bold;
			display: inline-block;
			width: 200px;
		}

		.value {
			margin-left: 30px;
			display: inline-block;
			color: #747275;
		}

		.field {
			margin-left: 20px;
			margin-top: 10px;
		}

		img {
			margin-top: 10px;
			margin-left: 10px;
		}

		.value.map {
			display: block;
		}

		.value.images {
			display: block;
		}

	</style>
</head>
<body>
	<div>
		<img src="http://www.bolsadesantiago.com/Imaganes%20Empresa/ANDINA.PNG" width="40%" />
	</div>
	<h3>Información Reporte</h3>
	<div class="field">
		<div class="label">Título:</div> 
		<div class="value"><%= @report.title %></div>
	</div>
	<div class="field">
		<div class="label">Creado por:</div>
		<div class="value"><%= @report.creator_name %></div> 
	</div>
	<div class="field">
		<div class="label">Asignado a:</div>
		<div class="value"><%= @report.assigned_user_name %></div> 
	</div>
	<div class="field">
		<div class="label">Fecha de Creación:</div>
		<div class="value"><%= @report.created_at.in_time_zone("Santiago").strftime("%d/%m/%Y %I:%M %p").to_s %></div> 
	</div>
	<div class="field">
		<div class="label">Estado:</div> 
		<div class="value"><%= @report.report_state.name %></div> 
	</div>
	<div class="field">
		<div class="label">Región:</div> 
		<div class="value"><%= @report.region %></div> 
	</div>
	<div class="field">
		<div class="label">Comuna:</div> 
		<div class="value"><%= @report.commune %></div> 
	</div>
	<div class="field">
		<div class="label">Calle:</div> 
		<div class="value"><%= @report.address %></div> 
	</div>
	<div class="field">
		<div class="label">Referencia:</div> 
		<div class="value"><%= @report.reference %></div> 
	</div>
	<div class="field">
		<div class="label">Comentario:</div> 
		<div class="value"><%= @report.comment %></div> 
	</div>
	<div class="field">
		<div class="label">Motivo:</div> 
		<div class="value"><%= @report.reason.name if @report.reason %></div> 
	</div>
	<div class="field">
		<div class="label">Canal:</div> 
		<div class="value"><%= @report.channel.name if @report.channel %></div> 
	</div>
	<div class="field">
		<div class="label">Fotos</div> 
		<div class="value images">
			<% @report.pictures.each do |picture| %>
				<img src="<%= picture.url %>" width="175px"/>
			<% end %>
		</div> 
	</div>
	<div class="field">
		<div class="label">Mapa Ubicación</div> 
		<div class="value map">
			<img src="https://maps.googleapis.com/maps/api/staticmap?size=512x250&maptype=roadmap&size=500x250&markers=size:mid%7Ccolor:red%7C<%= @report.latitude.to_s + ', ' + @report.longitude.to_s %>" />
		</div> 
	</div>
	<h3>Actividad en el reporte</h3>
	<% @report.report_actions.order("created_at DESC").each_with_index do |action, idx| %>
		<% if idx > 0 %>
			<hr/>
		<% end %>
		<div class="field">
			<div class="label">Fecha:</div> 
			<div class="value"><%= action.created_at.in_time_zone("Santiago").strftime("%d/%m/%Y %I:%M %p").to_s %></div> 
		</div>
		<div class="field">
			<div class="label">Tipo de actividad:</div> 
			<div class="value"><%= action.report_action_type.formatted_name %></div> 
		</div>
		<div class="field">
			<div class="label">Comentario:</div> 
			<div class="value"><%= action.data["comment"] if action.data and action.data["comment"] %></div> 
		</div>
		<div class="field">
			<div class="label">Asignado a:</div> 
			<div class="value"><%= action.data["assigned_user_name"] if action.data and action.data["assigned_user_name"] %></div> 
		</div>
	<% end %>
	
</body>
</html>
